langchain
langchain-core
langchain-google-genai
langchain-openai
langchain-groq
langgraph
langsmith
chromadb
sentence-transformers
crawl4ai
requests
python-dotenv
more-itertools
pydantic
uvicorn
fastapi
sse-starlette
langchain-cli
ipykernel
jupyter